# ignore all
*/*/*

# Java solutions
# 20XX/Day X/src/.java
# 20XX/Day X/src/input.txt
!*/*/src

# cpp solutions
# 20XX/Day X/XXX.cpp
# 20XX/Day X/input.txt
!*/*/*.cpp
!*/*/input.txt

cmake-build-debug
.idea
CMakeLists.txt